/* Apply styles to all text input fields and password input */
input[type="text"],
input[type="password"],
select {
  font-size: 16px;
  background-color: #f2f2f2;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 8px;
 
}

/* Hover effect for all input fields */
input[type="text"]:hover,
input[type="password"]:hover,
select:hover {
  background-color: #b0b0b0;
}

/* Focus effect for all input fields */
input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #3498db;
}

/* Style the submit button */
input[type="submit"] {
  background: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* Cursor style for clickable elements */
input[type="submit"] {
  cursor: pointer;
}


/* Bonus Question */
input[type="text"] {
    background-image: url('background-img.png'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;
  }
  
  input[type="text"],
  input[type="email"]{
  padding-left: 40px;
  }
  
  