/* Set image width */
img {
    width: 100%;

}

/* Collapse the table borders */
table {
    border-collapse: collapse;
    width: 100%;
}

/* Give border and padding to td */

td {
    border: 1px solid #9b9d9e;
    padding: 10px;
}

/* Style table header cells */
th {
    background-color: #333;
    color: white;

}

/* Add margin and padding to header */
header {
    margin: 20px;
    padding: 10px;
}

/* Apply background color to even rows */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Apply custom font family to header */
h1 {
    font-family: 'Georgia', serif;
}

/* Adjust line height of list items */
.unordered-list li {
    line-height: 1.5;
}

/* Add subtle box shadow, margin and padding to product comparison section */
.product-comparison {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 30px;
    padding: 10px;

}

/* Add border to unordered list items */
.unordered-list li {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}